[submodule "Text_Compression"]
	path = Text_Compression
	url = git@github.com:vicente-gonzalez-ruiz/Text_Compression.git
[submodule "Audio_Coding"]
	path = Audio_Coding
	url = git@github.com:vicente-gonzalez-ruiz/Audio_Coding.git
[submodule "signal_processing"]
	path = signal_processing
	url = git@github.com:vicente-gonzalez-ruiz/signal_processing.git
